.dashboard-title {
    font-family: 'Poppins' sans-serif;
    font-size: 21px;
    text-align: center;
    margin-bottom: 20px;
}

table {
    width: 100%;
    background: #fff;
    border-radius: 5px;
    margin-top: 10px;
}

table th,
td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background: #ffef13;
}